@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

table {
  border: solid 1px #ccc;
  border-radius: 5px;
}

thead {
  background: #f0f0f0;
}

th {
  padding: 10px;
  border-bottom: solid 1px #ccc;
}

td {
  padding: 10px 20px;
  border-bottom: solid 1px #ccc;
}